*~
.*.sw?
*.mo
*.orig
*.pyc
*.pyo
*.rej
*.L68
*.S68
.DS_Store

/*
/*/

!/*.lua

!/.clangd
!/.clang-format
!/.gitignore
!/CMakeLists.txt
!/CMakePresets.json
!/README.md

!/doc/

/debug/bios/*
!/debug/
!/debug/bios/README.md
!/debug/win
!/debug/mac
!/debug/lin
/debug/win/*
/debug/mac/*
/debug/lin/*

!/build
/build/*

!/img/

!/assets/

!/schema/

!/.github/
!/.vscode/
!/cmake/
!/scripts/
!/src/

!/lib/

!/tools/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
